

p {
    color: #710000;
    font-family: "Work Sans", sans-serif;
    font-size: 12pt;
    line-height: 1.6;
  }

#register{
  font-size: 15pt;
  font-family: "Work Sans", sans-serif;

  color: white;
}
  #setuju{
    font-size: 12pt;
    color:#710000;
  }

  body {
    font-family: "Work Sans", sans-serif;
    font-size: 12pt;
    line-height: 1.6;
    background-color: #f4f4f4;
    background-image: url("img/homeImageRed.png");
    background-size: cover;
  }
  #sk,
  #privasi,
  #masuk{
    color: #589eb9;
  }
  #sk:hover,
  #privasi:hover,
  #masuk:hover{
    color: #437C90;
  }

  .container {
    max-width: 400px;
    height: 500px;
    margin: 0 auto;
    padding: 50px 50px;
    background-color:white;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    margin-top: 10%;
  }

  .container h2 {
    text-align: left;
    margin-bottom: 20px;
    color: #710000;
  }

  .container input[type="text"],
  .container input[type="email"],
  .container input[type="password"] {
    width: 380px;
    height: 30px;
    padding: 10px;
    margin-bottom: 20px;
    border: 1px solid #589eb9;
    border-radius: 5px;
  }

  .container input[type="text"]:hover,
  .container input[type="email"]:hover,
  .container input[type="password"]:hover {
    width: 380px;
    height: 30px;
    padding: 10px;
    margin-bottom: 15px;
    border: 3px solid #437C90;
    border-radius: 5px;
  }

  .container input[type="submit"] {
    margin-bottom: 20px;
    width: 400px;
    height: 50px;
    padding: 10px;
    background-color: #589eb9;
    border: none;
    color: #fff;
    cursor: pointer;
    border-radius: 300px;
  }

  .container input[type="submit"]:hover {
    background-color: #437C90;
  }
